@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background: url("imgs/pergamentnii.jpg") center/cover no-repeat;
}

main {
    margin-top: 30px;
    font-family: 'MedievalSharp', cursive;

}

header {
    font-family: 'MedievalSharp', cursive;
}

.top_ship {
    font-size: 40px;
    margin-left: 30px;
}

.top {
    background: url("imgs/ship.jpg") center/cover no-repeat;
    height: 100vh;
    margin: 1px;
    padding: 0px;
    background-attachment: fixed;
    border-bottom: 3px solid olive;
    filter:brightness(50%) contrast(100%);
}

.ship {
    color: black;
    position: absolute;
    top: 40%;
}

h2 {
    text-align: center;
}


.card {
    text-align: center;
    padding: 20px 10px;
    background-color: rgb(255, 227, 190);
    border-radius: 40px 0px  00px 40px;
    width: 25%;
    height: 730px;
    margin-left: 40px;
    margin-bottom: 50px;
    vertical-align: middle;
    font-size: 40px;

}

.ll_card {
    display: flex;
}

.card1 {
    text-align: center;
    padding: 20px 10px;
    background-color: rgb(180, 162, 138);
    border-radius: 0px 40px  40px 0px;
    width: 67%;
    height: 730px;
    margin-left: 0px;
    margin-bottom: 50px;
    vertical-align: middle;
    font-size: 40px;

}


.card-img {
    width: 97%;
    border-radius: 30px;
    margin-bottom: 10px;
}



.card-link {
    padding: 10px 20px;
    display: block;
    width: 20%;
    border-radius: 10px;
    text-decoration: none;
    margin: auto;
    margin-top: 10px;

}

